Repository nerd-coder/svelte-zod-form: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,svelte}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    check:
      glob: '*.{js,ts,svelte}'
      run: pnpm check

docs: update badge
  README.md
Due: none

fix files include
  package.json
Due: format

Release 1.4.0
  CHANGELOG.md
  jsr.json
  package.json
Due: format

fix post install script
  package.json
Due: format

Release 1.4.1
  CHANGELOG.md
  jsr.json
  package.json
Due: format

refactor: remove `radash` from deps
  package.json
  pnpm-lock.yaml
  src/lib/ZodFieldStore.ts
  src/lib/ZodFormStore.ts
  src/lib/utils/debounce.ts
  src/lib/utils/getErrorMessage.ts
  src/lib/utils/pick.ts
  src/lib/utils/sleep.ts
  src/lib/utils/toReadable.ts
  src/lib/utils/zip.ts
  src/routes/example1/+page.svelte
  src/routes/example2/+page.svelte
Due: format, check

Release 1.4.2
  CHANGELOG.md
  jsr.json
  package.json
Due: format

fix: correct import extension
  src/lib/ZodFieldStore.ts
  src/lib/ZodFormStore.ts
Due: format, check

fix: update typing
  src/lib/ZodFormStore.ts
  src/lib/utils/debounce.ts
Due: format, check

fix test
  package.json
  tests/utils.test.ts
Due: format, check

doc: add jsr installation steps
  README.md
Due: none

add svelte export condition
  package.json
Due: format

add connectors
  src/lib/ZodFieldStore.ts
  src/lib/ZodFormStore.ts
  src/lib/connector/connectError.ts
  src/lib/connector/connectInput.ts
  src/lib/connector/connectSelect.ts
  src/lib/connector/connectSubmit.ts
  src/lib/index.ts
  src/lib/utils/combine.ts
  src/lib/utils/toReadable.ts
  src/routes/+layout.svelte
  src/routes/example3/+page.svelte
Due: format, check

fix config
  package.json
  src/lib/ZodFormStore.ts
  src/lib/connector/connectError.ts
  src/lib/connector/connectInput.ts
  src/lib/connector/connectSelect.ts
  src/lib/connector/connectSubmit.ts
  src/routes/example3/+page.svelte
Due: format, check

Release 1.4.3
  CHANGELOG.md
  jsr.json
  package.json
Due: format

update packages
  .eslintignore
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/utils/debounce.ts
  src/routes/TabBar.svelte
  vite.config.ts
Due: format, check

Release 1.5.0
  CHANGELOG.md
  jsr.json
  package.json
Due: format

add tests
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/utils/combine.ts
  src/lib/utils/pick.ts
  src/lib/utils/sleep.ts
  src/routes/example3/+page.svelte
  tests/connector.test.ts
  tests/test-utils.ts
  vite.config.ts
Due: format, check

feat: make handleChange exclusive for input
  src/lib/ZodFieldStore.ts
  src/lib/ZodFormStore.ts
  src/lib/connector/connectSelect.ts
  src/routes/+layout.svelte
  src/routes/auto-submit/+page.svelte
  src/routes/register/+page.svelte
  tests/auto-submit.test.ts
  tests/generated.test.ts
  tests/register.test.ts
  tests/simple-form.test.ts
  tests/test-utils.ts
  tests/types.d.ts
Due: format, check

Release 1.6.0
  CHANGELOG.md
  jsr.json
  package.json
Due: format

fix(typing): allow pass undefined `initialValue`
  src/lib/ZodFormStore.ts
Due: format, check

Release 1.6.1
  CHANGELOG.md
  jsr.json
  package.json
Due: format

update readme
  README.md
Due: none
